#heading {
    text-align:center;
    color:#de6b21;
    font-size:75px;
    font-family:Papyrus,Garamond,"Fantasy";
    margin:-20px;
}
body {
    background-color:black;
    z-index:0;
}
#logo{
    display:inline-block;
    align:left;
    width:250px;
    height:250px;
    position:absolute;
}

#classroom{
    background-color: white;
    height:675px;
    margin-left: 300px;
}

#desk{
    background-color: rgb(28, 169, 197) !important;
    width:97px;
    height:72px;
    border: 3px solid black;
    text-align:center;
}