#heading {
    text-align:center;
    color:#de6b21;
    font-size:75px;
    font-family:Papyrus,Garamond,"Fantasy";
    margin:-20px;
}
body {
    background-color:black;
}
#logo{
    display:inline-block;
    align:left;
    width:250px;
    height:250px;
    position:absolute;
}